
		/* CSS for desktop screens */
		#forest-brand-mark {
			width: 100px;
			height: 100px;
			position: relative;
			left: 300px;
		}
		.page-explanation {
			text-align: center;
		}
		.userId {
			width: 300px;
			height: 50px;
			border-radius: 10px;
		}
		#userIdimage {
			width: 30px;
			height: 30px;
		}
		#userPasswordimage {
			width: 30px;
			height: 30px;
		}
		.userPassword {
			width: 300px;
			height: 50px;
			border-radius: 10px;
		}
		.loginbutton {
			background-color: blue;
			height: 50px;
			width: 200px;
			text-align: center;
			color: white;
			text-shadow: 2px 2px 2px #000000;
			text-align: center;
			color: white;
			border-radius: 10px;
			left: 50px;
		}
		.membership-registration-button {
			background-color: white;
			height: 50px;
			width: 200px;
			text-align: center;
			color: blue;
			text-align: center;
			border-radius: 10px;
		}

		/* CSS for mobile screens */
		@media only screen and (max-width: 600px) {
			.page {
				width: 90%;
				margin: 0 auto;
				padding: 20px;
				background-color: #f2f2f2;
				text-align: center;
			}
			.column {
				flex-basis: 100%;
				margin-bottom: 20px;
			}
			.column img {
				max-width: 100%;
				text-align: center;
			}
			#forest-brand-mark {
				width: 70px;
				height: 70px;
				position: relative;
				left: 15px;
			}
			.userId {
				width: 90%;
				height: 50px;
				border-radius: 10px;
			}
			#userIdimage {
				width: 20px;
				height: 20px;
			}
			#userPasswordimage {
				width: 20px;
				height: 20px;
			}
			.userPassword {
				width: 90%;
				height: 50px;
				border-radius: 10px;
			}
			.loginbutton {
				background-color: blue;
				height: 50px;
				width: 90%;
				text-align: center;
				color: white;
				text-shadow: 2px 2px 2px #000000;
				text-align: center;
				color: white;
				border-radius: 10px;
				margin-top: 20px;
			}
			.membership-registration-button {
				background-color: white



			}
		}
		