@charset "UTF-8";
	.upponmenubarnav{
		position: absolute;
		bottom: 560px;
		left: 400px;
	}
	.upponmenubarul{
				width: 600px;
	}
	/*게시판 코드*/
    #albumbulletinboardlist{
    	position: relative;
    	bottom: 110px;
    	left: 220px;
    	width: 100px;
    	border-left: none;
    	border-right: none;
		border-top: none;
		border-bottom: none;
    	
    }
    .tablesqure{
		width: 350px;
		height: 150px; 
		border: 1px solid black;
	}
	.productinpreparation{
		text-align: center;
		position: relative;
		top: 50px;
	}
	#pageForm{
		position: relative;
		left: 800px;
		bottom: 100px;
	}
	#searchForm{
		position: relative;
		left: 600px;
		bottom: 100px;
	}
	#searchbutton{
		width: 100px;
		height: 30px;
		border-radius: 10px;
	}
	#addbutton{
		width: 100px;
		height: 30px;
		border-radius: 10px;
	}