@charset "UTF-8";
			#wrap {
	            width: 800px;
	            margin: 0 auto 0 auto;
	        }
	        #topForm{
	            text-align :center;
	        }
	        #board{
	            text-align :right;
	        }
	        #requesttable{ 
	           	text-align:center;   
		        border-left: none;
		        border-right: none;
	        }
	        #pageForm{
	        	position: relative;
	        	left: 400px;
	        }
	        #searchForm{
	        	position: relative;
	        	left: 200px;
	        }
 	        .searchbutton{
		        width: 50px;
		        height: 30px;
		        background: blue;
		        color: white;
	        }
	        .addbutton{
		        width: 50px;
		        height: 30px;
		        background: blue;
		        color: white;
	        }