@charset "UTF-8";
			.upponmenubarnav .upponmenubarul .upponmenubardetail a {
			  width: 100%; /* 항목의 너비를 100%로 지정하여 항목 내부의 내용이 가운데 정렬되도록 합니다. */
			}
			
			#wrap {
	            width: 800px;
	            margin: 0 auto 0 auto;
	        }
	        #topForm{
	            text-align :center;
	        }
	        #board{
	            text-align :right;
	        }
	        #requesttable{ 
	           	text-align:center;   
		        border-left: none;
		        border-right: none;
	        }
	        #pageForm{
	        	position: relative;
	        	left: 400px;
	        }
	        #searchForm{
	        	position: relative;
	        	left: 200px;
	        }
 	        .searchbutton{
		        width: 50px;
		        height: 30px;
		        background: blue;
		        color: white;
	        }
	        .addbutton{
		        width: 50px;
		        height: 30px;
		        background: blue;
		        color: white;
	        }