@charset "UTF-8";

	#bulletinlistForm{
		width: 800px;
        margin: 0 auto 0 auto;
        position: relative;
		bottom: 50px;
		left: 50px;
	
		
	}
	.bulletintable {
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: none;
		margin: 0 auto 0 auto;	
	}
	.bulletincontent{
		text-align: center;
		position: relative;
	}
	#answertitle{
		position: relative;
		top: 10px;
		left: 400px;
		font-size: 30px;
	}

	#customerrequire{
		position: absolute;
		bottom: 500px;
		left: 500px;
	}
	#searchbutton{
		width: 100px;
		height: 30px;
		border-radius: 10px;
	}
	#addbutton{
		width: 100px;
		height: 30px;
		border-radius: 10px;
		position: absolute;
		left: 1400px;
	}