@charset "UTF-8";
	.pageexplanation{
		position: relative;
		right: 300px;
	}
	.bulletinwrite{
		position: absolute;
		bottom: 100px;
		left: 300px;
		top: 100px;
		text-align: center; 
		border: 1px solid #dddddd;
		width: 1000px;
		height: 300px;
	}
	.bulletinboardtitle{
		background-color: #eeeeee; 
		text-align: center;
	}
   	.imageplus{
		position: relative;
		top: 400px;
		left: 300px;
		width: 1000px;
	}
	.filebutton input[type="file"]{
		border-radius:10px;
		border:none;
	} 
   .bulletinboardpage{
		margin: 0 auto;
		padding: 20px;
		text-align: center;
	}
	#writebutton{
		width: 100px;
		height: 30px;
		border-radius: 10px;
		position: relative;
		top: 550px;
		left: 600px;
    }
    #writecancelbutton{
    	width: 100px;
		height: 30px;
		border-radius: 10px;
		position: relative;
		top: 550px;
		left: 600px;
    }
