@charset "UTF-8";
	.upponmenubarnav{
		position: absolute; 
		bottom: 600px; 
		left: 500px;
		width: auto inherit;
	}
	h1 {
		position: absolute;
		bottom: 600px;
		left: 500px;
	}
	#wrap{
		width: 800px;
        margin: 0 auto 0 auto;
        position: relative;
		bottom: 50px;
		left: 50px;
		text-align: center;		
	}
	.table {
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: none;
		margin: 0 auto 0 auto;
		text-align: center;
		position: relative;
		bottom: 400px;
		
	}
	th{
		text-align: center;	
	}