@charset "UTF-8";
	#bulletinform{
		width: 800px;
        margin: 0 auto 0 auto;
        position: relative;
		bottom: 50px;
		left: 50px;
	
		
	}
	.bulletintable {
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: none;
		margin: 0 auto 0 auto;	
	}
	.bulletincontent{
		text-align: center;
		position: relative;
	}
	#answertitle{
		position: relative;
		top: 10px;
		left: 400px;
		font-size: 30px;
	}
	.addbutton{
		position: relative;
		left: 1290px;
		border-radius: 10px;
		width: 100px;
		height: 30px;
		background-color: blue;
		color: white;
	}
	
	.commentbutton{
		position: relative;
		left: 100px;
		border-radius: 10px;
		width: 100px;
		height: 30px;
		background-color: blue;
		color: white;
	}
	#customerrequire{
		position: absolute;
		bottom: 500px;
		left: 500px;
	}
	#customerrequire{
		position: absolute;
		bottom: 500px;
		left: 500px;
	}