@charset "UTF-8";
			.upponmenubarnav{
				position: absolute; 
				bottom: 430px; 
				left: 590px;
				width: auto inherit;
				height: auto;
			}
			.upponmenubarul{
				width: 600px;
			}
			.verticalmenuul{
				position: relative;
				right: 350px;
			}
			h1{
				position: relative;
				bottom: 200px;
			}
			#bulletinboarform {
	            width: 800px;
	            margin: 0 auto 0 auto;
	        }
	        #topForm{
	            text-align :center;
	        }
	        
	        #bulletintableform{
	        	position: relative;
	        	
	        }
	        
	        #searchForm{
	        	position: relative;
	        	left: 200px;
	        	bottom: 20px;
	        }
	        #pageForm{
	        	position: relative;
	        	left: 400px;
	        	
	        }
 	       #searchbutton{
				width: 100px;
				height: 30px;
				border-radius: 10px;
			}
			#addbutton{
				width: 100px;
				height: 30px;
				border-radius: 10px;
			}