@charset "UTF-8";
			.upponmenubarnav{
				position: absolute; 
				bottom: 500px; 
				left: 640px;
				width: auto inherit;
				height: auto;
			}
			.verticalmenuul{
				position: relative;
				right: 350px;
			}
			
			#bulletinboarform {
	            width: 800px;
	            margin: 0 auto 0 auto;
	        }
	        #topForm{
	            text-align :center;
	        }
	        
	        #bulletintableform{
	        	position: relative;
	        	
	        }
	        #requesttable{ 
	           	text-align:center;   
		        border-left: none;
		        border-right: none;
		        border-top: none;
		        border-bottom: none;
		        width:800; 
		        border:3;
		        border-color:lightgray; 
		        text-align:center;
		        position: absolute;
		        bottom:30px;
		        left: 100px;
	        }
	        
	        #searchForm{
	        	position: relative;
	        	left: 200px;
	        	bottom: 20px;
	        }
	        #pageForm{
	        	position: relative;
	        	left: 400px;
	        	
	        }
 	        .searchbutton{
		        width: 50px;
		        height: 30px;
		        background: skyblue;
		        color: white;
		        border-radius: 10px;
		        border: none;
	        }
	        .addbutton{
		        width: 50px;
		        height: 30px;
		        background: skyblue;
		        color: white;
		        border-radius: 10px;
		        border: none;
	        }