@charset "UTF-8";


/*div class form의 스타일을 설정해주는 코드입니다.*/
	upponmenubarnav .upponmenubarul .upponmenubardetail a {
			  width: 100%; /* 항목의 너비를 100%로 지정하여 항목 내부의 내용이 가운데 정렬되도록 합니다. */
			   border-radius: 100px;
			}
	.pageexplanation{
		position: relative;
		right: 300px;
	 	height: 200px;
	 	
	}
	button{
		height: 50px;
		width: 200px;
		text-align: center;
		border-radius: 10px;
	}
	.bulletintable{
		position: absolute;
		bottom: 100px;
		left: 500px;
		text-align: center; 
		border: 1px solid #dddddd;
		width: 500px;
		height: 500px;
	}
	.bulletinboardtitle{
		background-color: #eeeeee; 
		text-align: center;
	}
	
	
	.completedbutton {
		background-color: blue;	
		text-align: center;
		color: white text-shadow200px;
		color: white;
		border-radius: 10px;
		left: 50px;
		text-shadow: 2px 2px 2px #000000;
	}
	
	.writecancelbutton{
		background-color: blue;
		color: white;
		position: relative;
		top: 380px;
		left: 1000px;
	}
	#imageplus{
		height: 30px;
		width: 30px;
		position: relative;
		top: 300px;
		left: 300px;
	}
   .bulletinboardpage{
		margin: 0 auto;
		padding: 20px;
		text-align: center;
	}
	.column {
		flex-basis: 48%;
		margin-bottom: 20px;
	}

	