	@charset "UTF-8";
	.today {
		color: red;
		position: relative;
	}
	#appleimgage{
		width:100px;
		height:100px;
		position: relative;
		left:310px;
		top: 100px;
	}
	#appleexplation{
		position: relative;
		left: 300px;
		top: 100px;
	}
	#napcabbageimage{
		width:100px;
		height:100px;
		position: relative;
		left:490px;
		top: 100px;
	}
	#napcabbageimageexplation{
		position: relative;
		left: 510px;
		top: 100px;
	}
	#napcabbageimage2{
		width:100px;
		height:100px;
		position: relative;
		left:690px;
		top: 100px;
	}
	#napcabbageimageexplation2{
		position: relative;
		left: 700px;
		top: 100px;
	}
	#napcabbageimage3{
		width:100px;
		height:100px;
		position: relative;
		left:880px;
		top: 100px;
	}
	#napcabbageimageexplation3{
		position: relative;
		left:900px;
		top: 100px;
	}
	#napcabbageimage4{
		width:100px;
		height:100px;
		position: relative;
		left:1100px;
		top: 100px;
	}
	#napcabbageimageexplation4{
		position: relative;
		left:1100px;
		top: 100px;
	} 
	.column {
		position: absolute;
		top: 150px;
		line-height:100%; 
		letter-spacing: 200%;
	}