@charset "UTF-8";
	p {
		margin: 0;
	}

	.introduce {
		text-align: center;
	}

	.objectlist {
		position: relative;
		left: 100px;
	}

	.objectintroduce {
		position: relative;
		left: 100px;
	}
	

	.mybox {
		position: relative;
		top: 100px;
		/*class mybox의 div 태그를 원래 있어야할 위치보다 위쪽으로 100px 떨어지게 지정한다..*/
		width: 800px; /*div 태그의 클래스 mybox의 폭을 800px로 지정한다. */
		height: 500px; /*div 태그의 클래스 mybox의 높이를 500px로 지정한다. */
		bottom: 100px;
		/*class mybox의 div 태그를 원래 있어야할 위치보다 아래쪽으로 100px 떨어지게 지정한다..*/
		margin: 0 auto;
	}

	table {
		border-style: solid;
		border-width: 3px;
		border: 1px double black; /* set border width and style */
        width: 50px; /* set box width */
        height: 50px; /* set box height */
		border-collapse: collapse, separate;
        border-spacing: 5px; /* set border spacing */
	}

	.table{
		border-collapse:collapse;
		border-spacing:0;
	}
	.table td{
		border-color:black;
		border-style:solid;
		border-width:1px;
		font-family:Arial, sans-serif;
		font-size:14px;
	  	overflow:hidden;
	  	padding:10px 5px;
	  	word-break:normal;
	  	border: 2px double black; /* set double border for table cells */
        padding: 10px; /* add some padding to cells */
  	}
	.table th{
		border-color:black;
		border-style:solid;
		border-width:1px;
		font-family:Arial, sans-serif;
		font-size:14px;
	  	font-weight:normal;
	  	overflow:hidden;
	  	padding:10px 5px;
	  	word-break:normal;
  	}
	.table .tablegoodslist{
		border-color:inherit;
		text-align:left;
		vertical-align:top;
	}
	.goodsimage{
	 	display: block;
        margin: auto;
        width: 300px;
        height: 100px;
	}
	#namyanggoods{
	width: 300px;
	}
	