@charset "UTF-8";
	.pageexplanation{
		text-align: center;
	}
	#userid {
		width: 300px;
		height: 50px;
		border-radius: 10px;
		position: relative;
		left: 100px;
		bottom: 50px;
	}
	#userIdimage{
		width: 30px;
		height: 30px;
		position: relative;
		right: 40px;
		top: 30px;
	}
	#userPasswordimage{
		width: 30px;
		height: 30px;
		position: relative;
		right: 40px;
		top: 30px;
	}
	
	
	#userPassword {
		width: 300px;
		height: 50px;
		border-radius: 10px;
		position: relative;
		left: 100px;
	}
	
	
	
	#userPasswordcheck {
		width: 300px;
		height: 50px;
		border-radius: 10px;
		position: relative;
		left: 100px;
	}
	#userPasswordcheckimage{
		width: 30px;
		height: 30px;
		position: relative;
		right: 40px;
		top: 30px;
	}

	#userEmail {
		width: 300px;
		height: 50px;
		border-radius: 10px;
		position: relative;
		left: 100px;
	}
	#userEmailimage{
		width: 30px;
		height: 30px;
		position: relative;
		right: 40px;
		top: 30px;
	}

	#userGender {
		width: 300px;
		height: 50px;
		border-radius: 10px;
		position: relative;
		left: 575px;
	}
	#userGenderimage{
		width: 30px;
		height: 30px;
		position: relative;
		right: 40px;
		top: 30px;
	}

	#loginbutton {
		height: 50px;
		width: 200px;
		text-align: center;
		border-radius: 10px;
		position: relative;
		left: 600px;
		bottom: 270px;
	}
	.page {
		width: 40%;
		margin: 0 auto;
		padding: 20px;
		text-align: center;
	}

	
	