@charset "UTF-8";
	.forest-brand-mark{
	
	}
	#forest-brand-mark{
		width: 30px;
		height: 30px;
	}

	#forest-brand-marktext{
		width: 500px;
		height: 30px;
	}
	.toptext {
		text-align: center;
		position: relative;
		left: 50px;
		border-right: solid;
		height: 50px;
	}
	
	.information {
		text-align: center;
		position: relative;
		top: 100px;
	}
	
	.information2 {
		text-align: center;
		position: relative;
		top: 100px;
		left: 40px;
	}