@charset "UTF-8";
	.upponmenubarnav{
		position: absolute; 
		bottom: 430px; 
		left: 530px;
		width: auto inherit;
	}
	.upponmenubarul{
		width: 600px;
	}
	
	h1 {
		position: absolute;
		bottom: 540px;
		left: 500px;
	}
	#tableform{
		width: 800px;
        margin: 0 auto 0 auto;
        position: relative;
		top: 150px;
		left: 50px;
		text-align: center;		
	}
	.questionandanswertable {
		border-left: none;
		border-right: none;
		border-top: none;
		border-bottom: none;
		margin: 0 auto 0 auto;
		border-right: none;
		text-align: center;
		position: relative;
		bottom: 100px;
	}
	th{
		text-align: center;	
	}