@charset "UTF-8";
	  html,body {
	  font-family: Helvetica, Arial, sans-serif;
	  margin: 0;
	}
	.panel-faq-container {
	  margin-bottom: -16px;
	  text-align: center;
	}
	.panel-faq-title {
	  color: #00eaea;
	  cursor: pointer;
	  text-align: center;
	}
	.panel-faq-answer {
	  height: 0;
	  overflow: hidden;
	  /* 변화가 시작되는 쪽에다가 transition 적용해준다 0 -> 300px 
	  왜? 닫기 버튼을 누를 때 변화가 티남 */
	  transition: all 1s;
	  text-align: center;
	}
	#btn-all-close {
	  margin-bottom: 10px;
	  background-color: #726996;
	  border: none;
	  color: #fff;
	  cursor: pointer;
	  padding: 10px 25px;
	  float: right;
	  position: relative;
	  bottom: 100px;
	}
	#btn-all-close:hover {
	  background-color: yellow;
	  color: #000;
	  transition: all 0.35s;
	}
	.active {
	  display: block;
	  /* 높이를 정해줘야지만 transition이 적용됨 */
	  height: 100px;
	  text-align: center;
	  }
	  table{
	  	position: relative;
	  	bottom: 100px;
	  	left: 30px;
	  }
	  
	  /*더보기 style*/
	  .otherpanel-faq-container {
	  margin-bottom: -16px;
	  text-align: center;
	}
	.otherpanel-faq-title {
	  color: #00eaea;
	  cursor: pointer;
	  text-align: center;
	}
	.otherpanel-faq-answer {
	  height: 0;
	  overflow: hidden;
	  /* 변화가 시작되는 쪽에다가 transition 적용해준다 0 -> 300px 
	  왜? 닫기 버튼을 누를 때 변화가 티남 */
	  transition: all 1s;
	  text-align: center;
	}
	#otherbtn-all-close {
	  margin-bottom: 10px;
	  background-color: #726996;
	  border: none;
	  color: #fff;
	  cursor: pointer;
	  padding: 10px 25px;
	  float: right;
	  position: relative;
	  bottom: 100px;
	}
	#otherbtn-all-close:hover {
	  background-color: yellow;
	  color: #000;
	  transition: all 0.35s;
	}
	.otheractive {
	  display: block;
	  /* 높이를 정해줘야지만 transition이 적용됨 */
	  height: 100px;
	  text-align: center;
	}

/*원래 css 코드*/
	.upponmenubarnav{
		position: absolute; 
		bottom: 550px; 
		left: 530px;
		width: auto inherit;
	}
	.upponmenubarul{
		width: 600px;
	}
	
	h3 {
		position: absolute;
		bottom: 500px;
		left: 600px;
	}
	
	