@charset "UTF-8";
	h1 {
		position: absolute;
		bottom: 600px;
		left: 500px;
	}
	#wrap{
		width: 800px;
        margin: 0 auto 0 auto;
        position: relative;
		bottom: 100px;
		left: 300px;
		border-left: none;
		border-right: none;
		
	}
	.table {
		border-left: none;
		margin: 0 auto 0 auto;
	}