@charset "UTF-8";
	 .upponmenubarnav .upponmenubarul {
	  overflow: hidden;
	  margin: 0;
	  padding: 0;
	  display: flex; /* 메뉴 항목을 가로 방향으로 정렬하기 위해 flexbox를 사용합니다. */
	}

	.upponmenubarnav .upponmenubarul .upponmenubardetail {
	  list-style: none;
	  text-align: center;
	  border-left: 1px solid #fff;
	  border-right: 1px solid #ccc;
	  flex-grow: 1; /* 항목의 너비를 자동으로 조정하기 위해 flex-grow 속성을 사용합니다. */
	  box-sizing: border-box;
	}
	
	.upponmenubarnav .upponmenubarul .upponmenubardetail:first-child {
	  border-left: none;
	}
	
	.upponmenubarnav .upponmenubarul .upponmenubardetail a {
	  display: block;
	  text-decoration: none;
	  color: white;
	  background-color: skyblue;
	  padding: 10px 0;
	  box-sizing: border-box;
	  border-radius: 10px;
	  width: 100%
	}
		 
/* ================================*/
 	.otherupponmenubarnav .otherupponmenubarul {
	  overflow: hidden;
	  margin: 0;
	  padding: 0px;
	  display: flex; /* 메뉴 항목을 가로 방향으로 정렬하기 위해 flexbox를 사용합니다. */
	}

	.otherupponmenubarnav .otherupponmenubarul .otherupponmenubardetail {
	  list-style: none;
	  text-align: center;
	  border-left: 1px solid #fff;
	  margin-bottom: 20px;
	}
	
	.otherupponmenubarnav .otherupponmenubarul .otherupponmenubardetail:first-child {
	  border-left: none;
	}
	
	.otherupponmenubarnav .otherupponmenubarul .otherupponmenubardetail a {
	  text-decoration: none;
	  color: white;
	  background-color: skyblue;
	  padding: 50px 0;
	  box-sizing: border-box;
	  border-radius: 30px;
	  width: 100px;
	  height: 100px;
	  position: absolute;
	  left: 500px;
	  top: 150px;
	  
	}
		 	 